@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0px;
}
body {
  background: #191919;
  font-family: 'Montserrat', sans-serif;
  padding: 60px;
  box-sizing: border-box;
}
h1,
p {
  margin-bottom: 20px;
}
code {
  background: black;
  outline: 1px solid #474000;
}
.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 960px;
  color: #eeeeee;
  padding: 20px;
}
.banner {
  background: #101010;
  display: block;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 16px;
  }
}
